@import 'css_default';
$f:'Roboto',
sans-serif;
$f2:'Raleway',
sans-serif;
body {
    font: 400 14px/23px 'Roboto', sans-serif;
    color: #505050;
}

@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
}

a:hover {
    text-decoration: none;
    color: #0078ff;
}

h2 {
    font: 400 45px $f;
}

h3 {
    font: 400 35px $f;
}

h4 {
    font: 700 20px $f2;
    color: #505050;
}

.padding {
    padding: 0;
}

.right {
    float: right;
}


/* ======================================= Header ===================================*/

header {
    position: absolute;
    width: 100%;
    z-index: 99999;
    padding: 20px 0;
    .search-top {
        margin-top: 7px;
        text-align: center;
        i {
            color: #0078ff;
            margin-top: 10px;
            cursor: pointer;
            font-size: 15px;
        }
        .fa-times {
            display: none;
        }
        form {
            position: absolute;
            left: -172px;
            top: 39px;
            z-index: 99999;
            display: none;
            input {
                width: 200px;
                outline: none;
                padding: 5px 15px;
                border: none;
                background: #fff;
                border: 1px solid #1e86fa;
                @include border-radius(20px);
            }
        }
    }
    a.login {
        display: inline-block;
        background: #0078ff;
        color: #fff;
        text-align: center;
        height: 34px;
        width: 110px;
        line-height: 34px;
        white-space: nowrap;
        @include border-radius(50px);
        float: right;
        @include transition(.3s);
        &:hover {
            background: #ff3150;
        }
    }
    .search-mobile {
        display: none;
    }
}

.logo {
    width: 85%;
    img {
        width: 100%;
    }
}

.navbar-fixed-top {
    background: rgba(0, 0, 0, .6);
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .5s;
    z-index: 999999;
    .logo {
        width: 63%;
        img {
            width: 100%;
        }
    }
    &:hover {
        background: rgba(0, 0, 0, .8);
    }
}


/*===================================== Menu===================================*/

.navbar-default {
    background: transparent;
    border: transparent;
    margin: 0;
    @include border-radius(0);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
    color: #fff;
    font-size: 15px;
}

.nav>li {
    &:nth-child(6) {
        display: none;
    }
}

.navbar-default .navbar-nav .current-menu-item a {
    color: #0078ff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #0078ff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #0078ff;
    border-width: 2px;
    margin-top: 15px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0078ff;
}


/* =========== grafiskdesignhjemmesideny-banner ===========================*/

#grafiskdesignhjemmesideny-banner {
    background: url(../images/grafiskdesignhjemmesideny-banner.jpg) no-repeat center #000;
    background-size: cover;
    .content {
        min-height: 900px;
        @include display();
        @include flex-flow(column);
        @include justify-content(center);
        @include align-items(center);
        color: #f0f8fb;
        text-align: center;
        h2 {
            font: 500 39px $f;
            margin: 0;
        }
        h1 {
            font: 900 60px $f;
            margin: 0;
            span {
                font: 900 68px $f;
                color: #1e86fa;
            }
        }
    }
}

.no-flexbox #grafiskdesignhjemmesideny-banner .content {
    padding-top: 450px;
    display: inherit;
    text-align: center;
}

.ancore-bottom {
    text-align: center;
    clear: both;
    padding-bottom: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    z-index: 50;
    a {
        color: #fff;
        border: 1px solid #fff;
        height: 50px;
        width: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        line-height: 50px;
        @include border-radius(50%);
    }
}


/*body class*/

.grafiskdesignhjemmesideny {
    .head {
        p {
            max-width: 586px;
        }
    }
}


/*body class*/

.tabs-silder-1 {
    padding: 0 0 85px 0;
    .content {
        text-align: center;
        margin-bottom: 30px;
        h4 {
            font: 500 14px $f;
            color: #231f20;
            text-transform: uppercase;
            margin: 0 0 40px 0;
        }
        .divider {
            margin: 20px auto;
        }
        p {
            color: #637988;
        }
    }
    i {
        font-size: 45px;
    }
}

#mySliderTabs {
    clear: both;
}

.ui-slider-tabs-content-container {
    border: none;
}

.ui-slider-tabs-list-container {
    margin: 0 auto!important;
}

.tabs-silder-1 .ui-slider-tabs-list-wrapper {
    width: 33%;
    margin: 0 auto;
}

.ui-slider-tabs-list li {
    border: none !important;
    height: auto !important;
    background: none;
}

.ui-slider-tabs-list li.selected {
    background: #0078ff;
    border-radius: 50px;
}

.ui-slider-tabs-list li a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #000;
    text-shadow: none;
    margin: 0;
    font: 400 18px/33px $f;
    text-transform: uppercase;
}

.ui-slider-tabs-list li.selected a {
    cursor: default;
    color: #fff;
}

.ui-slider-left-arrow {
    left: -90px;
    top: 0;
    box-shadow: none;
    border-radius: 0;
    background: none;
    border: none;
    height: 43px !important;
    width: 43px !important;
    &:hover {
        background: none;
        border: none !important;
    }
}

.ui-slider-right-arrow {
    top: 0;
    right: -90px;
    box-shadow: none;
    height: 43px !important;
    width: 43px !important;
    border-radius: 0;
    background: none;
    border: none;
    &:hover {
        background: none;
        border: none !important;
    }
}

.ui-slider-left-arrow,
.ui-slider-right-arrow,
.ui-slider-left-arrow.edge:hover,
.ui-slider-right-arrow.edge:hover {
    background: none;
}

.ui-slider-left-arrow.edge div,
.ui-slider-right-arrow.edge div {
    opacity: 1;
    cursor: not-allowed;
}

.arbeid {
    background: #f4f4f4;
    padding-bottom: 40px;
    img {
        width: 100%;
        height: 100%;
    }
    .port-right {
        width: 50%;
        float: left;
        .col-md-6 {
            margin-bottom: 30px;
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
}

.patner {
    min-height: 600px;
    padding-bottom: 60px;
}

.patner-content {
    max-width: 90%;
    margin: 0 auto;
    @include display();
    @include flex-flow(row wrap);
    @include justify-content(center);
    @include align-items(center);
    .content {
        width: (100% / 5);
        text-align: center;
        margin: 15px 0;
        img {
            max-width: 100%;
        }
    }
}


/*===================================== Footer top ===================================*/

.footer-top {
    background: #1e86fa;
    padding: 23px 0;
    clear: both;
    .content {
        width: 990px / 1170px*100%;
        margin: 0 auto;
        p {
            float: left;
            width: 33.495%;
            color: #1a2940;
            padding: 0 15px;
            font: 400 20px $f;
            margin-bottom: 0;
            padding-top: 18px;
        }
        form {
            width: 66.505%;
            float: left;
            input[type="text"] {
                width: calc(100% - 225px);
                float: left;
                outline: none;
                border: none;
                background: none;
                height: 42px;
                border-bottom: 1px solid #fff;
                font-size: 15px;
                margin-right: 25px;
                color: #fff;
            }
            input[type="text"]::-webkit-input-placeholder {
                /* WebKit, Blink, Edge */
                color: #fff;
                opacity: 1;
            }
            input[type="text"]:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: #fff;
                opacity: 1;
            }
            input[type="text"]::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: #fff;
                opacity: 1;
            }
            input[type="text"]:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #fff;
                opacity: 1;
            }
            input[type="submit"] {
                font: 500 15px $f;
                color: #fff;
                background: #19283f;
                height: 46px;
                width: 200px;
                float: left;
                border: none;
                @include border-radius(50px);
                @include transition(.3s);
                &:hover {
                    background: #ff3150;
                }
            }
        }
    }
}


/*===================================== Main Footer ===================================*/

.main-footer {
    background: #19283f;
    padding: 60px 0;
    .widget1 {
        img {
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 75px;
        }
        .copy {
            font: 400 13px/30px $f;
            color: #a8b9c0;
            a {
                color: #1e86fa;
            }
        }
    }
    .widget {
        h3 {
            font: 400 15px $f;
            color: #f0f8fb;
            margin: 0;
        }
        p {
            font: 400 13px/30px $f;
            color: #a8b9c0;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                margin-top: 22px;
                a {
                    color: #a8b9c0;
                    font: 400 13px $f;
                    &:hover {
                        color: #0078ff;
                    }
                }
            }
        }
    }
    .widget4 {
        p {
            margin-top: 25px;
            padding-left: 10px;
        }
        h3 {
            padding-left: 10px;
        }
        form {
            background: #ff3150;
            @include border-radius(50px);
            padding: 0 15px;
            margin: 40px 0;
        }
        input[type="text"] {
            border: none;
            background: none;
            height: 40px;
            float: left;
            width: 86%;
            width: calc(100% - 25px);
            padding-right: 15px;
            color: #fff;
            outline: none;
        }
        input[type="text"]::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #fff;
            opacity: 1;
        }
        input[type="text"]:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
            opacity: 1;
        }
        input[type="text"]::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #fff;
            opacity: 1;
        }
        input[type="text"]:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
            opacity: 1;
        }
        input[type="submit"] {
            border: none;
            background: url(../images/arrow.png) no-repeat center;
            height: 40px;
            float: left;
            width: 25px;
            padding: 0;
        }
        .social {
            padding-left: 15px;
            a {
                display: inline-block;
                height: 36px;
                width: 36px;
                text-align: center;
                line-height: 36px;
                background: #4a6bab;
                @include border-radius(50%);
                color: #fff;
                font-size: 17px;
                margin-right: 6px;
                &:nth-child(2) {
                    background: #997762;
                }
                &:nth-child(3) {
                    background: #0081b3;
                }
            }
        }
    }
}


/*=========================== forretningsfrselny page ============================*/

.header-banner {
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
    text-align: center;
}

.header-banner .overlay {
    background: rgba(0, 0, 0, .5);
}

.header-banner .overlay h2 {
    color: #FFF;
    font-weight: 900;
    margin: 0;
    min-height: 360px;
    height: 35.15625vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-transform: uppercase;
}

.no-flexbox .header-banner .overlay h2 {
    padding: 190px 0 145px 0;
}


/*---end of header banner---*/

.header-text-section {
    text-align: center;
    background: #F4F4F4;
    min-height: 450px;
    p {
        color: #515151;
        font: 400 15px/22px $f;
        max-width: 670px;
        margin: 0 auto;
    }
}

.head {
    padding: 95px 0 60px 0;
    text-align: center;
}

.head h2 {
    color: #231f20;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.head span {
    color: #1A73EF;
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.divider {
    background: #1A73EF;
    width: 40px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.head p {
    color: #515151;
    font: 400 15px/22px $f;
    max-width: 670px;
    margin: 0 auto;
}


/*----end of header text----*/

.body-text-list-section {
    padding: 0 0 100px 0;
    min-height: 1090px;
    text-align: center;
}

.body-text-list-section .content {
    text-align: left;
    margin-bottom: 40px;
}

.body-text-list-section .content h4 {
    padding-left: 25px;
    margin-bottom: 20px;
    margin-top: 0;
}

.body-text-list-section .content ul {
    padding-left: 25px;
    font-size: 25px;
    li {
        line-height: 24px;
        color: #FF5300;
        margin-bottom: 10px;
        span {
            font-size: 16px;
        }
    }
}

.body-text-list-section .content ul li span {
    color: #7C7C7C;
}

.text-list {
    clear: both;
}


/*============================================= markedsfringny page=====================*/

.marketing-left-text li {
    padding-top: 40px;
}

.marketing-left-text li:first-child {
    padding-top: 0px;
}

.marketing-text h2 {
    color: #505050;
    font: 700 20px "Raleway", sans-serif;
    margin-top: 0;
}

.marketing-text p {
    color: #7c7c7c;
    font: 400 16px/24px "Roboto", sans-serif;
    margin-bottom: 0;
}

.body-text-list-section ul.reverse-maketing {
    padding-top: 100px;
    direction: rtl;
    text-align: right;
    padding-left: 0;
    padding-right: 25px;
    font-size: 25px;
}

.reverse-maketing li {
    padding-top: 60px;
}

.reverse-maketing li:first-child {
    padding-top: 0px;
}


/*================================ forretningsfrselny page=====================*/


/*body class*/

.forretningsfrselny {
    .head {
        h2 {
            font-size: 35px;
        }
    }
}


/*body class*/

.timmer {
    .content {
        padding: 80px 0;
        min-height: 535px;
        &:nth-child(even) {
            background: red;
        }
    }
    .head {
        max-width: 200px;
        margin-right: auto;
        padding: 0;
    }
    h4 {
        padding-left: 25px;
    }
}

.timmer-outer {
    &:nth-child(even) {
        background: #f4f4f4;
        .col-xs-11,
        .ul-list {
            float: right;
            direction: rtl;
        }
        .col-xs-11 {
            margin-left: 0;
            right: 8.33333333%;
        }
        .head {
            margin-left: auto;
            margin-right: 0;
        }
        h4 {
            padding-left: 0;
            padding-right: 25px;
        }
        .col-md-4 {
            margin-left: 0;
        }
        .ul-list ul {
            padding: 0;
            margin: 0;
            padding-left: 0;
            padding-right: 23px;
        }
    }
}

.ul-list {
    ul {
        padding: 0;
        margin: 0;
        padding-left: 25px;
        color: #ff5300;
        font-size: 25px;
        p {
            color: #505050;
            font-size: 14px;
            font-family: $f;
            line-height: 20px;
        }
    }
}

.timmer .ul-blue {
    margin-top: 40px !important;
}

.ul-blue {
    li {
        color: #008aff;
    }
}


/*=================== regnskapsfringtjenesterny page ============================*/

.regnskapsfringtjenesterny-banner {
    background: url(../images/regnskapsfringtjenesterny-banner.jpg) no-repeat;
    background-size: cover;
}

.regnskapsfringtjenesterny-bg-3 {
    text-align: left;
    min-height: 418px;
    background-image: url(../images/tab.png), url(../images/mobile.png), url(../images/leptop.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 46% 103%, 21% 104%, right 50%;
    ul {
        list-style-image: url('../images/ul-list-icon.png');
        padding-left: 30px;
        font-size: 22px;
        margin-bottom: 20px;
        li {
            margin-bottom: 10px;
        }
    }
    .add-download {
        margin-top: 70px;
    }
}

.app-button {
    clear: both;
    a.phone-button {
        display: block;
        width: 180px;
        color: #999fa8;
        border: 1px solid #c1c6ca;
        float: left;
        @include border-radius(5px);
        @include box-shadow(0 0 5px #c1c6ca);
        background: #fefefe;
        i {
            display: block;
            float: left;
            width: 25%;
            height: 56px;
            line-height: 56px;
            font-size: 40px;
            background: #eff0f1;
            text-align: center;
            border-right: 1px solid #dde0e2;
        }
        .fa-android {
            font-size: 30px;
        }
        .text {
            width: 75%;
            float: left;
            padding: 5px 10px;
            height: 56px;
            p {
                font: 700 15px $f;
                white-space: nowrap;
            }
        }
    }
}

.TRIPLETEX {
    padding-bottom: 40px;
    ul {
        color: #2d2d2d;
        p {
            font-size: 14px;
        }
        li {
            width: (100% / 12) * 6;
            margin-bottom: 40px;
            float: left;
            &:nth-child(even) {
                width: (100% / 12) * 5;
                float: right;
            }
        }
    }
}

.app-content {
    .app-wraper {
        padding-bottom: 80px;
    }
    img {
        display: initial;
    }
    .head {
        padding: 95px 0 30px 0;
    }
    .app-wraper {
        &:nth-child(odd) {
            background: #fafafa;
        }
    }
    ul {
        li {
            margin-bottom: 40px;
            p {
                font-size: 14px;
                color: #2d2d2d;
            }
        }
    }
}


/*=================== Home page ============================*/

.home {
    #grafiskdesignhjemmesideny-banner {
        background: url(../images/index-banner.jpg) no-repeat;
        h1 {
            font-size: 45px;
        }
        a.btn {
            background: #0078ff;
            font: 600 15px $f;
            @include border-radius(50px);
            color: #fff;
            padding: 10px 25px;
            margin-top: 30px;
            @include transition(.3s);
            &:hover {
                background: #ff3150;
            }
        }
    }
    .head p {
        max-width: 90%;
    }
}

.owl {
    .owl-dot {
        border: 2px solid #fff;
        height: 20px;
        width: 20px;
        display: inline-block;
        @include border-radius(50%);
        margin: 0px 3px;
    }
    .owl-dots {
        position: absolute;
        bottom: 15%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .owl-dot.active {
        background: #0079fe;
    }
}

.car-content {
    padding-bottom: 80px;
    .content {
        background: #f4f4f4;
        padding: 45px 35px;
        margin: 0;
        i {
            color: #101010;
        }
    }
    .tabs-silder-1 {
        padding: 0;
        width: (100% / 12) * 10;
        margin: 0 auto;
    }
    .owl-prev {
        position: absolute;
        right: -40px;
        top: 50%;
        margin-top: -22px;
    }
    .owl-next {
        position: absolute;
        left: -40px;
        top: 50%;
        margin-top: -22px;
    }
}

a.button {
    background: #0078ff;
    font: 600 15px $f;
    @include border-radius(25px);
    color: #fff;
    padding: 10px 25px;
    margin-top: 30px;
    @include transition(.3s);
    text-transform: uppercase;
    &:hover {
        background: #ff3150;
        color: #fff;
    }
}

.trip {
    .regnskapsfringtjenesterny-bg-3 {
        background-position: 56% 112%, 39% 109%, right bottom;
        min-height: 612px;
    }
}

.tabs-silder-2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0;
    .ui-slider-tabs-list-wrapper {
        width: (100% / 12) * 10;
        margin: 0 auto;
    }
    h5 {
        font: 500 14px $f;
        color: #000;
        text-transform: uppercase;
        margin: 45px 0;
    }
    p {
        font: 400 14px $f;
        color: #515151;
    }
    .button {
        font: 700 20px $f;
        color: #272727;
        background: none;
        border: 1px solid #3393ff;
        text-transform: uppercase;
        &:hover {
            color: #fff;
        }
    }
    .ui-slider-tabs-content-container {
        margin: 100px 0;
    }
    .ui-slider-tabs-list li a {
        font: 700 18px/33px "Roboto", sans-serif;
    }
}

.blog-wraper {
    date {
        font: 400 13px $f;
        color: #a8b9c0;
        display: block;
        margin: 20px 0 10px 0;
    }
    a {
        display: block;
        color: #1a2940;
        font: 400 20px $f;
    }
}

.blog {
    padding-bottom: 70px;
    .btn {
        padding: 10px 40px;
        margin-top: 80px;
    }
}

.profile {
    background: #f3f3f3;
    padding-bottom: 60px;
    .content img {
        width: 215px;
        height: 215px;
        @include border-radius(50%);
        border: 1px solid #dcdcdc;
        display: inline-block;
    }
    h2 {
        margin: 0;
        font: 900 22px $f;
        color: #2d2d2d;
        text-transform: uppercase;
        margin: 12px 0;
    }
    p {
        color: #515151;
        font-size: 15px;
    }
    .content .fa-plus {
        height: 30px;
        width: 30px;
        border: 3px solid #e0e4e4;
        color: #e0e4e4;
        line-height: 24px;
        @include border-radius(50%);
        display: inline-block;
        cursor: pointer;
    }
    i.clicked+.hover-pop {
        display: block !important;
    }
    .top {
        top: 24% !important;
    }
    .hover-pop {
        background: #fff;
        width: 80%;
        margin: 0 auto;
        padding: 15px 15px;
        @include border-radius(15px);
        margin-top: 15px;
        position: relative;
        display: none;
        &:before {
            content: "";
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            display: inline-block;
            position: absolute;
            top: -9px;
            left: 50%;
            margin-left: -10px;
        }
        a {
            display: block;
            color: #c4c4c4;
            margin-bottom: 10px;
            i {
                display: block;
                font-size: 25px;
            }
        }
    }
    .owl-prev {
        position: absolute;
        left: -40px;
        top: 35%;
        margin-top: -22px;
    }
    .owl-next {
        position: absolute;
        right: -40px;
        top: 35%;
        margin-top: -22px;
    }
    .disabled {
        cursor: not-allowed !important;
    }
    #profile-slide {
        width: 83%;
        margin: 0 auto;
    }
}
